body
{
 max-width: 100%;
}

header
{
 background-color: white;
 display: flex;
 flex-basis: 100%;
 margin: .5em .5em  0 .5em;
 
}

h1
{
    font-size: 2em;
    text-align: center;
    padding: .5em;
}


/* Header */

figure a img
{
    flex-grow: 0;
}

/*Icon social network*/
.network-social
{
display: flex;
align-items: flex-end;
flex-wrap: wrap;
flex-grow: 0;
margin-left: 5%;

}

.fas.fa-code, .fas.fa-laptop, .fas.fa-user-secret, .fas.fa-wifi
{
    font-size: 2em;
    margin-left: 5px;
}
.fas.fa-window-maximize
{
    font-size: 2em;  
}
a.fab.fa-facebook-square, a.fab.fa-instagram, a.fab.fa-linkedin
{
font-size: 2rem;
margin: .3em;
text-decoration: none;
color: black;
}

.fab.fa-facebook-square:hover
{
    color: #3b5998;
    width: .9em;
}
.fab.fa-instagram:hover
{
    
    border-radius: 10%;
    width: .9em;
    color: white;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.fab.fa-linkedin:hover
{
    color: #0e76a8;
    width: .9em;
}

/*Icon Whatsapp*/

.whatsapp
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;  
}

.whatsapp img
{
    width: 60px;
    height: 60px;
    margin: 1em;
}

/* Barra Nav */

.nav-base
{
    background-color: white;
    width: 100%;
    position: relative;
}
.nav-master
{
   
}
.nav-master > ul 
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    column-gap: 0.1em;
}

.nav-master ul li
{
    background-color: rgb(14,112,177);
    display: grid;    
}
.nav-master ul li a
{
    padding: 1em;
    text-align: center;
    text-decoration:none;
    color: white; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}



.subnav-content ul li a
{
    padding: 1.5em;
    text-align: center;
    text-decoration:none;
    color: white;
}


.subnav-content ul
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
}
.subnav-content ul li
{
    background-color: rgb(7, 90, 134);
    display: grid;
    
}


.nav-master ul li:hover .subnav-content
{
    display: grid;
    transition: all 5s;
    
}
.nav-master ul li:hover 
{
    background-color:  rgb(7, 90, 134);
    
}

.subnav-content
{
    display: none;
    position: absolute;
    top: 100%;
    left: 0%; 
    width: 100%;
}

.subnav-content ul li a span
{
    display: block;
    margin-bottom: 0.4em;
    
}


main
{
    background-color: violet;
    min-height: 100vh;
}
