
body
{
 /*display: grid;
 grid-template-rows: repeat(auto-fit, minmax(100px,1fr));
 row-gap: 0.1em;
 */
 display: grid;
 grid-template-rows: 7.5em 4.1em .7fr 1fr .3fr .5fr .1fr;
 min-height: 100vh;
 width: 100%;
 

}


header
{
background-color: white;
display: grid;
/*grid-template-columns: repeat(auto-fit, minmax(150px,.5fr));*/
grid-template-columns: .3fr .5fr 1fr 1fr;
column-gap: 0.1em;

}

h1
{
    font-size: 2em;
    text-align: center;
    padding: .5em;
    font-weight: bolder;
}

h1,p
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* -------------- Header ----------------*/

/*figure a img
{
    flex-grow: 0;
}
*/
.logo
{

}

/*Icon social network*/
.network-social
{
display: flex;
align-items: flex-end;
justify-content: center;
flex-wrap: wrap;
flex-grow: 0;
}

.fas.fa-code, .fas.fa-laptop, .fas.fa-user-secret, .fas.fa-wifi
{
    font-size: 2em;
    margin-left: 5px;
}
.fas.fa-window-maximize
{
    font-size: 2em;  
}
a.fab.fa-facebook-square, a.fab.fa-instagram, a.fab.fa-linkedin
{
font-size: 2rem;
margin-left: .3em;
text-decoration: none;
color: black;
}

.fab.fa-facebook-square:hover
{
    color: #3b5998;
    width: .9em;
}
.fab.fa-instagram:hover
{
    
    border-radius: 10%;
    width: .9em;
    color: white;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.fab.fa-linkedin:hover
{
    color: #0e76a8;
    width: .9em;
}

/*Icon Whatsapp*/

.whatsapp
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;  
}

.whatsapp img
{
    width: 60px;
    height: 60px;
    padding: .5em;
}
/*  Daros de contacto */
.contact-number
{
    display: grid;
    grid-template-columns: 9.5em  12em;
    justify-content: center;
    align-items: center;
}

.contact-number .number
{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    text-align: left; 
      
}

.contact-number .number span p
{
    color: black;
    font-size: .8em;
    line-height: 1.2em;
}
.contact-number .number span p:last-child
{
    color: rgb(14,112,177);
    line-height: 1.2em;
} 

.fas.fa-phone-alt, .far.fa-clock
{
    font-size: 1.5em;
    margin: 0;
    color: black;
    text-align: center;
}
/* -------- Button Informes responsive ----- */

.button-info
{
    display: none;
}

/* Barra Nav */

.nav-base
{
    
    position: relative;
    margin-bottom: .1em;
    padding: .1px;
}
.nav-master
{
    padding: .1px;
}
.nav-master > ul 
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    column-gap: 0.1em;
}

.nav-master ul li
{
    background-color: rgb(14,112,177);
    display: grid;    
}
.nav-master ul li a
{
    padding: 1.5em;
    text-align: center;
    text-decoration:none;
    color: white; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}



.subnav-content ul li a
{
    padding: 1.5em;
    text-align: center;
    text-decoration:none;
    color: white;
}


.subnav-content ul
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
}
.subnav-content ul li
{
    background-color: rgb(7, 90, 134);
    display: grid;
    
}


.nav-master ul li:hover .subnav-content
{
    display: grid;
    transition: all 5s;
    
}
.nav-master ul li:hover 
{
    background-color:  rgb(7, 90, 134);
    
}

.subnav-content
{
    display: none;
    position: absolute;
    top: 100%;
    left: 0%; 
    width: 100%;
}

.subnav-content ul li a span
{
    display: block;
    margin-bottom: 0.4em;
}

.box-one
{
 
    
}

/* -------------- Slider ------------ */

.slider-font-responsive
{
    display: none;
}
.slider
{ 
    height: 100%;
    background-color: seagreen;
    background: url(../img/kernetec_web_03_1200x720.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: all .1ms ease-in-out; 
    animation: slider 28s infinite linear ;
    
}


.slider-font
{
    
    width: 100%;
    
}

.slider-content
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* ------------------- Main ----------------- */
.box-02
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    column-gap: 0.1em;
    background-color:white;
    
}

.app-remote
{
    background-color: rgb(14,112,177); 
    color: white; 
    padding: 10px; 
    padding-top: 50px;
    padding-bottom: 30px;   
}
.app-remote p
{
    color: white; 
    line-height: 30px;
    text-align: justify;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.app-remote h1
{
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}
.app-remote .button-remote.button-one 
{
       
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.app-remote .button-remote a
{
    background-color:rgb(7, 90, 134);
    color: black;
    padding: 1em 5em 1em 5em;
    border-radius: 2% / 15% ;
    text-decoration: none;
  
}

.comentarios
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 8px;
}
.our-clients
{
    background-color:rgb(7, 90, 134);
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

/* --------------------- Img clientes --------------- */

.our-clients h1
{
    display: flex;
   justify-content: center;
   align-items: center;
}
.clients-img
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px,1fr));
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    column-gap: .5em;
    row-gap: 1em; 
}

.client-one
{
   display: flex;
   justify-content: center;  
}

/* -------------- Footer - Columns -------------- */

.columns-footer
{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
 height: 100%;
 margin: 5em .5em 5em 5em;
}

.column-one p, .column-two p, .column-three p
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

.column-one
{
    padding: 1em;
}

.column-one h1
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    font-size: 1.5em;
    padding: 0 ;
    text-align: left;
}

.column-one p
{
    font-size: 1em;
    text-align: left;
    margin: 1em .5em 1em .5em;
    line-height: 30px;
}

.column-two
{
    
    width: 80%;
}
.column-two li
{
    font-size: 1em;
    margin: 1em .5em 1em .5em;
    line-height: 40px;
    border-bottom: 1px solid rgb(54, 53, 53);
}

.column-two h1
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    font-size: 1.5em;
    padding: 0 ;
    
}

.column-three
{
    
}

.column-three li
{
    font-size: 1em;
    margin: 1em .5em 1em .5em;
    line-height: 20px;
   
}

.column-three li span
{
    color: black;
    font-weight: normal;
}

/* ------------------ Footer ------------- */
.footer
{
    background-color: rgb(7, 90, 134);
}

.footer p
{
    color: white;
    text-align: center;
    padding-top: 10px;
}

/* ------------   Key Frames Slider ----------------------*/

@keyframes slider
{
    0%
    {
        background-image: url(../img/kernetec_web_03_1200x720.jpg);
         
    }
    25%
    {
        background-image: url(../img/kernetec_web_03_1200x720.jpg); 
           
    }
    26%
    {
        background-image: url(../img/kernetec_support_tech_1200x720.jpg);   
    }
    50%
    {
        background-image: url(../img/kernetec_support_tech_1200x720.jpg);   
    }
    51%
    {
        background-image: url(../img/kernetec_web_02_1200x720.jpg);   
    }
    75%
    {
        background-image: url(../img/kernetec_web_02_1200x720.jpg);   
    }
    76%
    {
        background-image: url(../img/kernetec_web_03_1200x720.jpg);   
    }
    100%
    {
        background-image: url(../img/kernetec_web_03_1200x720.jpg);   
    }
}

/* -----------------Responsive --------------------- */

    /* -------- screen  0 - 541 ------------------ */
@media screen and (min-width: 0px) and (max-width: 540px)
{
    body
    {
    display: grid;
    grid-template-rows: 7.5em 2em .2fr 1fr .3fr .5fr .1fr;
    min-height: 100vh;
    width: 100%;
    }

    header
    {
        display: grid;
        grid-template-columns: .3fr 1fr;
    }
    h1, .column-one h1, .column-two h1
    {
        font-size: 1.8em;
        
    }
   
    p, .column-one p, .column-two li, .column-three li, .fas.fa-phone-alt, .number span p
    {
        font-size: 1.2em;
        line-height: 20px;
    }
    .nav-base
    {
        background-color:rgb(14,112,177); 
    }
   .nav-master
    {
       display: none;
    }
    
    .contact-number
    {
        display: grid;
        height: 100%;
        grid-template-columns: repeat(auto-fit, minmax(150px,.6fr));
    }
    .number:last-child
    {
        margin-top: -20px;
    }
    .number:first-child
    {
        margin-bottom: -20px;
    }

    .contact-number .number span.fas.fa-phone-alt, .contact-number .number span.far.fa-clock
    {
        font-size: 1em;
    }
    .contact-number .number span p
    {
        font-size: .8em;
    }
    .fas.fa-phone-alt, .far.fa-clock
    {
        font-size: .8em;
    }
    
    .whatsapp
    {
        display: none;
    }
    .network-social
    {
      display: none;  
    }
    .button-info
    {
        display: none;
        justify-content: center;
        align-items: center;
        margin-right: .3em;
        margin-left: .3em;
    }
    .button-info a
    {
    background-color:rgb(14,112,177); 
    color: black;
    padding: 1.5em 2em 1.5em 2em;
    font-size: .8em !important;
    
    text-decoration: none;
    text-align: center;
    }
    .button-info a span
    {
        text-align: center;
    }

    .button-remote.button-one a
    {
        padding: .8em 3em .8em 3em;
    }
    .our-clients
    {
        grid-template-rows: .4fr 1fr;
    }
    .clients-img
    {
        margin-bottom: 1em;
    }
}

    /* -------- screen  541 - 670 ------------------ */

@media screen and (min-width: 541px) and (max-width: 670px)
{
    body
    {
    display: grid;
    grid-template-rows: 7.5em 2.5em .2fr 1fr .3fr .5fr .1fr;
    min-height: 100vh;
    width: 100%;
    }

    header
    {
        display: grid;
        grid-template-columns: .3fr 1fr;
    }
    h1
    {
        font-size: 1.5em;
    }
    p
    {
        font-size: .8em;
    }
   .nav-master
    {
       display: none;
    }
    .network-social
    {
      display: none;  
    }
    .contact-number
    {
        display: grid;
    }
    .whatsapp
    {
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .button-info
    {
        display: none;
        justify-content: center;
        align-items: center;
    }
    .button-info a
    {
    background-color:rgb(14,112,177); 
    color: black;
    padding: 1.5em 2em 1.5em 2em;
    text-decoration: none;
    }
    .button-info a span
    {
        text-align: center;
    }

}

 /* ------------- screen  671 - 1023 ------------------ */

@media screen and (min-width: 671px) and (max-width: 1023px)
{
    body
    {
    display: grid;
    grid-template-rows: 7.5em 4.1em .3fr 1fr .3fr .5fr .1fr;
    min-height: 100vh;
    width: 100%;
    }

    header
    {
        display: grid;
        grid-template-columns: .3fr 1fr 1fr;
    }

    .network-social
    {
      display: none;  
    }

    .whatsapp
    {
        display: none;
    }


    .button-info
    {
        display: grid;
        justify-content: center;
        align-items: center;
        margin-right: .3em;
        margin-left: .3em;
    }
    .button-info a
    {
    background-color:rgb(14,112,177); 
    color: black;
    padding: 1.5em 2em 1.5em 2em;
    text-decoration: none;
    text-align: center;
    }
   
}





